.room {
    border: 1px solid black;
    min-height: 320px;
    height: 60%;
}

div.line input, div.line button {
    padding: 5px;
    margin: 2% 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;     
}

div.line input {
    width: 79%;
}
div.line button {
    width: 20%;
}