<div *ngIf="room | async; let room; else loading">
  {{ room.name }}
  <section class='room'>
    <div *ngFor='let line of room.lines'>
      {{ line }}
    </div>
  </section>
  <button>{{room | json}}</button>
  <div class='line'>
    <input #messageText>
    <button (click)="sendLine(messageText)">send</button>
  </div>
</div>
<ng-template #loading>Loading Chat Data...</ng-template>
