<header>
</header>

<main class='content'>
<router-outlet></router-outlet>
</main>
<aside class='left'>
  <div>
    <input #roomName>
    <button (click)="createNewRoom(roomName)">
      Create room
    </button>
  </div>

  <hr>
  <ul>
    <li *ngFor='let item of items | async'>
       <a [routerLink]="['/room', item.$key]">{{item.name}}</a>
    </li>
  </ul>
</aside>
<footer>
</footer>
